* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.keys{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.keys .key{

    border: 2px solid white;
    display: flex;
    font-size: 40px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.key.active{
    border: 2px solid yellow;
    color: yellow
}

.composer {
    width: 260px;
    margin-top: 20px;
}
.composer #input{
    width: 100%;
    outline: none;
    padding: 10px 15px;
}

.composer button{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 16px;
}


.composer button:hover{
    background-color: #575252;
    cursor: pointer;
}

footer {
    margin-top: 20px;
    color: #fff;
    font-size: 12px;
}